// trove colors
$troveRed:       	       #DD2435;
$troveRedHighlight:        #F26868;
$troveGray:      	       #8E8B8B;
$troveGrayLight: 	       #B7B0B0;
$troveGrayDark:  	       #2E2626;

// One off shades of gray
$troveGrayBorder:		   #DEDEDE;
$troveDarkGrayBorder:      #D0D0D0;
      
$troveOffWhite:            #F6f6f6;
$troveSubtleGrayText:      #6A6A6A;

// other colors
$facebookBlue:             #3B5998;
$facebookBlueHighlight:    #5677BB;
$verifyGreen:              #2EAF78;
$verifyRed:                $troveRedHighlight;


